@font-face {
    font-family: "Neue Kabel Book";
    src: url("../webfonts/d27b5a52-5146-429c-9e0d-1f4c08266f3d.woff2") format("woff2"),
        url("../webfonts/a3ca3efa-bd2f-42c1-a590-e7ac56f71088.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel W05 Medium Italic";
    src: url("../webfonts/0ca27ac4-0585-44a3-a093-68fe63b8747a.woff2") format("woff2"),
        url("../webfonts/edc5e109-0f46-45e9-b7e6-f117a7747bc6.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel";
    src: url("../webfonts/bf49b70e-906b-40c3-bd00-aae63ae2a55b.woff2") format("woff2"),
        url("../webfonts/c904605a-490f-475e-8bda-3d64711907d2.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel W05 Black Italic";
    src: url("../webfonts/f5d818a7-2d87-43dc-8f3d-ea39fd5ce193.woff2") format("woff2"),
        url("../webfonts/9a2ec82e-280d-407c-bfdc-869ac1edd08a.woff") format("woff");
}

@font-face {
    font-family: "ITC Serif Gothic Std";
    src: url("../webfonts/746f4e58-430f-45ee-ac2e-90a2bb8f5c9d.woff2") format("woff2"),
        url("../webfonts/7c736433-916b-4f83-b1bb-a45beeb5c757.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel Regular";
    src:
        url("../webfonts/NeueKabel-Book.woff2") format("woff2"),
        url("../webfonts/NeueKabel-Book.woff") format("woff");
}

html,
body {
    font-family: 'Neue Kabel', 'Poppins', sans-serif;
    background-color: #1c1b16;
    color: #e6e5d9;

    .font-a {
        font-family: 'Neue Kabel Regular', 'Poppins', sans-serif;
    }

    .font-b {
        font-family: "ITC Serif Gothic Std";
    }

    .text-stroke-main {
        -webkit-text-stroke: 1px #ab192d;
        text-stroke: 1px #ab192d;
        color: transparent;

        @media screen and (min-width:768px) {
            -webkit-text-stroke: 2px #ab192d;
            text-stroke: 2px #ab192d;
        }

        @media screen and (min-width:2000px) {
            -webkit-text-stroke: 3px #ab192d;
            text-stroke: 3px #ab192d;
        }
    }

    .text-stroke-main-2 {
        -webkit-text-stroke: 2px #ab192d;
        text-stroke: 2px #ab192d;
        color: transparent;

        @media screen and (min-width:768px) {
            -webkit-text-stroke: 3px #ab192d;
            text-stroke: 3px #ab192d;
        }

        @media screen and (min-width:2000px) {
            -webkit-text-stroke: 4px #ab192d;
            text-stroke: 4px #ab192d;
        }
    }

    main {
        height: 100vh;
        min-width: 100vw;

        .swiper {
            height: 100%;
            min-width: 100vw;

            .swiper-button-prev,
            .swiper-button-next {
                color: #e6e5d9;
                font-size: 1.5rem;
                opacity: 0.5;
                transition: all 0s ease-in-out !important;
                background-color: #000;
                width: 3rem;
                height: 3rem;

                &::after {
                    font-size: 1.5rem;
                }

                &:hover {
                    opacity: 1 !important;
                    background-color: #ab192d;
                }
            }

            .swiper-button-prev {
                position: fixed;
                bottom: 0;
                right: 3rem;
                z-index: 999;
                left: unset;
                top: unset;
                transition: all 1s ease-in-out 0.5s;
                transform: translateX(-100%);
                animation: showinL 1s ease-in-out forwards;
            }

            .swiper-button-next {
                position: fixed;
                bottom: 0;
                right: 0;
                z-index: 999;
                left: unset;
                top: unset;
                transition: all 1s ease-in-out 0.5s;
                transform: translateX(100%);
                animation: showinR 1s ease-in-out forwards;
            }

            @keyframes showinL {
                0% {
                    transform: translateX(-100%);
                    opacity: 0;
                }

                100% {
                    opacity: 0.5;
                    transform: translateX(0);
                }
            }

            @keyframes showinR {
                0% {
                    transform: translateX(100%);
                    opacity: 0;
                }

                100% {
                    opacity: 0.5;
                    transform: translateX(0);
                }
            }

            .slick-arrow {
                width: 3rem;
                height: 3rem;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    display: none;
                }

                svg {
                    width: 1.5rem;
                    height: 1.5rem;

                    * {
                        fill: #e6e5d9;
                    }
                }

                &.slick-prev {
                    position: fixed;
                    bottom: 0;
                    right: 3rem;
                    z-index: 999;
                    left: unset;
                    top: unset;
                    transition: all .3 ease-in-out;
                    transform: translateX(-100%);
                    opacity: 0;
                    animation: showinML 1s 3s ease-in-out forwards;
                }

                &.slick-next {
                    position: fixed;
                    bottom: 0;
                    right: 0;
                    z-index: 999;
                    left: unset;
                    top: unset;
                    transition: all .3 ease-in-out;
                    transform: translateX(100%);
                    opacity: 0;
                    animation: showinMR 1s 3s ease-in-out forwards;
                }

                &:hover {
                    background-color: #ab192d;
                }
            }


            @keyframes showinML {
                0% {
                    transform: translateX(-100%);
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            @keyframes showinMR {
                0% {
                    transform: translateX(100%);
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            .slider {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex !important;
                flex-direction: column;
                // min-width: 100vw;
                background-color: #1c1b16;

                .item {
                    max-height: calc(100vh - 20rem);
                    overflow-y: auto;

                    // Scrollbar styles
                    &::-webkit-scrollbar {
                        width: 15px;
                    }

                    &::-webkit-scrollbar-track {
                        background: #1c1b16;
                        border-radius: 20px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #ab192d;
                        border-radius: 20px;
                        border: 3px solid #1c1b16;
                    }

                    &::-webkit-scrollbar-thumb:hover {
                        background-color: #ab192d;
                    }

                    &::-webkit-scrollbar-thumb:active {
                        background-color: #ab192d;
                    }

                    &::-webkit-scrollbar-thumb:vertical {
                        border-radius: 20px;
                    }

                    &::-webkit-scrollbar-thumb:horizontal {
                        border-radius: 20px;
                    }

                    &::-webkit-scrollbar-corner {
                        background: #1c1b16;
                    }

                    &::-webkit-scrollbar-button {
                        display: none;
                    }

                    // Fix for Firefox scrollbar
                    scrollbar-color: #ab192d #1c1b16;
                    scrollbar-width: thin;


                    // IF LAYOUT IS FIXED SIZE
                    >div {
                        margin-top: 0 !important;

                        >div {
                            margin-top: 0 !important;
                        }
                    }
                }

                img {
                    max-height: calc(100vh - 22rem);
                    // width: auto;
                    margin: auto;
                    object-fit: contain !important;
                }

                &.fixedsize {
                    img {
                        max-height: 60vh;
                        // width: auto;
                        margin: auto;
                        object-fit: contain !important;
                    }
                }
            }

            .slider_1 {
                background-image: url('../assets/bg/img-04.jpg');
            }

            .slider_7,
            .slider_12,
            .slider_17,
            .slider_22,
            .slider_27,
            .slider_32,
            .slider_2 {
                background-image: url('../assets/bg/img-02.jpg');
            }

            .slider_8,
            .slider_13,
            .slider_18,
            .slider_23,
            .slider_28,
            .slider_33,
            .slider_3 {
                background-image: url('../assets/bg/img-07.jpg');
            }

            .slider_9,
            .slider_14,
            .slider_19,
            .slider_24,
            .slider_29,
            .slider_4 {
                background-image: url('../assets/bg/img-08.jpg');
            }

            .slider_10,
            .slider_15,
            .slider_20,
            .slider_25,
            .slider_30,
            .slider_5 {
                background-image: url('../assets/bg/img-06.jpg');
            }

            .slider_11,
            .slider_16,
            .slider_21,
            .slider_26,
            .slider_31,
            .slider_6 {
                background-image: url('../assets/bg/img-09.jpg');
            }

        }
    }

    header {
        position: fixed;
        top: -1vh;
        left: 0;
        width: 100%;
        z-index: 9999999;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 30%;
            background: url('../assets/line-04.png');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 6vh;
            width: 70%;
            z-index: 8888;
            transition: all 1s ease-in-out;
            transform: rotate(-2deg) translateY(-100%);
            animation: show 1s ease-in-out forwards;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0%;
            background: url('../assets/line-04.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 3vh;
            width: 30%;
            z-index: 8888;
            transition: all 1s ease-in-out;
            transform: rotate(-2deg) translateY(-100%);
            animation: show 1s ease-in-out forwards;
        }
    }

    footer {
        position: fixed;
        width: 100%;
        z-index: 9999999;
        bottom: -1vh;
        left: 0;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0%;
            background: url('../assets/line-03.png');
            background-position: right top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 5vh;
            width: 70%;
            z-index: 99999;
            transform: rotate(-2deg) translateY(100%);
            transition: all 1s ease-in-out;
            animation: showbottom 1s ease-in-out forwards;
        }
    }

    .liner {
        position: relative;

        .liner__inner {
            background: url('../assets/line.png');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 7px;
        }
    }

    @media screen and (min-width: 992px) {
        header {
            top: -2vh;

            &:after {
                left: 70%;
                min-height: 7vh;
            }

            &:before {
                width: 70%;
                min-height: 7vh;
            }
        }

        footer {
            bottom: -2vh;

            &:before {
                min-height: 7vh;
                width: 40%;
            }
        }

        .liner {
            .liner__inner {
                min-height: 10px;
            }
        }
    }

    @media screen and (min-width: 1366px) {
        header {
            top: -3vh;
        }

        .liner {
            .liner__inner {
                min-height: 10px;
            }
        }
    }

    @media screen and (min-width: 2000px) {
        .liner {
            .liner__inner {
                min-height: 14px;
            }
        }
    }


    @keyframes show {
        0% {
            transform: rotate(-2deg) translateY(-100%);
        }

        100% {
            transform: rotate(-2deg) translateY(0%);
        }
    }

    @keyframes showbottom {
        0% {
            transform: rotate(-2deg) translateY(100%);
        }

        100% {
            transform: rotate(-2deg) translateY(0%);
        }
    }



    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: .25rem;
    }

    .gallery .item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 0 !important;
        cursor: pointer;
        min-height: 50px;
        position: relative;
        overflow: hidden;
    }

    .gallery .item img {
        opacity: 0;
        max-height: 200px
    }

    .gallery .item>span {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        color: #e6e5d9;
        font-size: 2em;
        transform: translate3d(-50%, -50%, 0);
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    @media (min-width: 1024px) {
        .gallery {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @media (min-width: 1280px) {
        .gallery {
            grid-template-columns: repeat(9, 1fr);
        }

        .gallery .item img {
            max-height: 250px
        }
    }

    @media (min-width: 1580px) {
        .gallery {
            grid-template-columns: repeat(18, 1fr);
        }

        .gallery .item img {
            max-height: 350px
        }
    }

    @media (min-width: 1800px) {
        .gallery .item img {
            max-height: 450px
        }
    }

    .gallery>* {
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery>*:nth-child(3n+1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    @media (min-width: 1024px) {
        .gallery>* {
            grid-column: span 2;
            grid-row: span 1;
        }
    }

    @media (min-width: 1280px) {
        .gallery>* {
            grid-column: span 3;
            grid-row: span 1;
        }

        .gallery>*:nth-child(n) {
            grid-column: span 4;
            grid-row: span 2;
        }

        .gallery>*:nth-child(3n) {
            grid-column: span 2;
            grid-row: span 2;
        }

        .gallery>*:nth-child(2n) {
            grid-column: span 3;
            grid-row: span 1;
        }

        .gallery>*:nth-child(5n) {
            grid-column: span 3;
            grid-row: span 1;
        }

        .gallery>*:nth-child(8n) {
            grid-column: span 2;
            grid-row: span 1;
        }

        .gallery>*:nth-child(9n) {
            grid-column: span 4;
            grid-row: span 1;
        }

        .gallery>*:nth-child(7n) {
            grid-column: span 3;
            grid-row: span 2;
        }

        .gallery>*:nth-child(10n) {
            grid-column: span 4;
            grid-row: span 1;
        }

        .gallery>*:nth-child(11n) {
            grid-column: span 3;
            grid-row: span 1;
        }

        .gallery>*:nth-child(12n) {
            grid-column: span 2;
            grid-row: span 1;
        }
    }

    @media (min-width: 1580px) {
        .gallery>* {
            grid-column: span 6;
            grid-row: span 2;
        }

        .gallery>*:nth-child(n) {
            grid-column: span 4;
            grid-row: span 2;
        }

        .gallery>*:nth-child(2n) {
            grid-column: span 6;
            grid-row: span 2;
        }

        .gallery>*:nth-child(3n) {
            grid-column: span 3;
            grid-row: span 2;
        }

        .gallery>*:nth-child(4n) {
            grid-column: span 5;
            grid-row: span 2;
        }

        .gallery>*:nth-child(5n),
        .gallery>*:nth-child(6n) {
            grid-column: span 3;
            grid-row: span 2;
        }

        .gallery>*:nth-child(7n) {
            grid-column: span 5;
            grid-row: span 2;
        }

        .gallery>*:nth-child(8n) {
            grid-column: span 4;
            grid-row: span 2;
        }

        .gallery>*:nth-child(9n) {
            grid-column: span 3;
            grid-row: span 2;
        }

        .gallery>*:nth-child(10n),
        .gallery>*:nth-child(11n),
        .gallery>*:nth-child(12n) {
            grid-column: span 6;
            grid-row: span 2;
        }

    }

    .lg-outer {
        z-index: 99999999999;
    }

    .lg-backdrop {
        z-index: 9999999;
    }


}


#loadingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 9999999999999;
}

#loadingpage.done {
    animation: fadeOut 1s ease-in-out 1 forwards;
}

#loadingpage svg.screen {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    fill: transparent;
}

#loadingpage svg.screen rect {
    fill: transparent;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#loadingpage svg.icon {
    max-width: 80%;
    min-width: 250px;
    height: auto;
}

@media (min-width: 768px) {
    #loadingpage svg.icon {
        max-width: 500px;
    }
}

#loadingpage .logoanimation {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 2s linear forwards infinite;
    stroke: #ae132a;
    fill: transparent;
    stroke-width: 2;
}

#loadingpage .logoanimationscreen {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dashscreen 2s linear infinite;
    stroke: #ae132a;
    stroke-width: 4px;
    fill: transparent;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 2000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dashscreen {
    from {
        stroke-dashoffset: 100%;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes activeLine {
    from {
        right: 300%;
    }

    to {
        right: 0;
    }
}

.toggleDot {
    position: fixed;
    bottom: 0;
    right: 6rem;
    z-index: 9999;
    transition: all 0.3 ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    animation: showinML 1s 3s ease-in-out forwards;
    width: 3rem;
    height: 3rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid #353535;
    font-size: 1.5rem;

    .pclose {
        display: none;
    }

    .popen {
        display: block;
    }

    &.active {
        .pclose {
            display: block;
        }

        .popen {
            display: none;
        }
    }

    &:hover {
        background-color: #ab192d;
    }
}

header {
    &.active {
        display: none;
    }
}

footer {
    &.active {
        display: none;
    }
}

.slick-slide.slick-current {
    z-index: 9999999999
}

.slick-dots {
    display: none !important;
    bottom: 0 !important;
    background-color: #000 !important;
    width: auto !important;
    margin: auto !important;
    // transform: translateX(50%) !important;
    position: fixed !important;
    z-index: 999999999999999;

    li {
        width: auto !important;
        height: auto !important;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;
        cursor: pointer;
        margin: 0 !important;

        a {
            background-color: #000;
            font-weight: 400;
            font-family: 'Neue Kabel Regular', 'Poppins', sans-serif;
            line-height: 1;
            padding: 10px 5px 8px 5px !important;
            min-width: 2rem;

            @media (min-width: 1600px) {
                min-width: 3rem;
                padding: 15px 5px 13px 5px !important;

            }

            &:hover {
                background-color: #ab192d;
            }
        }

        &.slick-active {
            a {
                background-color: #ab192d;
            }
        }
    }

    &.active {
        display: block !important;
    }
}

.liner-inline {
    // IF LAYOUT IS FIXED SIZE
    opacity: 0;
    display: none !important
}

.linerhome {
    // IF LAYOUT IS FIXED SIZE
    // display: none;
    position: absolute !important;
    width: calc(100% - 5rem);
    left: 2.5rem;
    bottom: 0;
    z-index: 9999999999;
    opacity: 0;

    @media (min-width: 640px) {
        width: calc(100% - 7.5rem);
        left: 3.75rem;
        // IF LAYOUT IS FIXED SIZE
        bottom: 2.5rem;
    }

    @media (min-width: 1024px) {
        width: calc(100% - 10rem);
        left: 5rem;
        // IF LAYOUT IS FIXED SIZE
        // bottom: 2rem;
    }

    @media (min-width: 1366px) {
        width: calc(100% - 15rem);
        left: 7.5rem;
        // IF LAYOUT IS FIXED SIZE
        // bottom: 3rem;
    }

    @media (min-width: 1600px) {
        // IF LAYOUT IS FIXED SIZE
        // bottom: 4rem;
    }

    @media (min-width: 1800px) {
        // IF LAYOUT IS FIXED SIZE
        // bottom: 5rem;
    }

    @media (min-width: 2000px) {
        // IF LAYOUT IS FIXED SIZE
        // bottom: 6rem;
    }

    @media (min-width: 2200px) {
        // IF LAYOUT IS FIXED SIZE
        // bottom: 7rem;
    }

    &.active {
        opacity: 1;
    }
}