@font-face {
    font-family: "Neue Kabel Book";
    src: url("../webfonts/d27b5a52-5146-429c-9e0d-1f4c08266f3d.woff2") format("woff2"), 
    url("../webfonts/a3ca3efa-bd2f-42c1-a590-e7ac56f71088.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel W05 Medium Italic";
    src: url("../webfonts/0ca27ac4-0585-44a3-a093-68fe63b8747a.woff2") format("woff2"), 
    url("../webfonts/edc5e109-0f46-45e9-b7e6-f117a7747bc6.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel";
    src: url("../webfonts/bf49b70e-906b-40c3-bd00-aae63ae2a55b.woff2") format("woff2"), 
    url("../webfonts/c904605a-490f-475e-8bda-3d64711907d2.woff") format("woff");
}

@font-face {
    font-family: "Neue Kabel W05 Black Italic";
    src: url("../webfonts/f5d818a7-2d87-43dc-8f3d-ea39fd5ce193.woff2") format("woff2"), 
    url("../webfonts/9a2ec82e-280d-407c-bfdc-869ac1edd08a.woff") format("woff");
}

@font-face {
    font-family: "ITC Serif Gothic Std";
    src: url("../webfonts/746f4e58-430f-45ee-ac2e-90a2bb8f5c9d.woff2") format("woff2"), 
    url("../webfonts/7c736433-916b-4f83-b1bb-a45beeb5c757.woff") format("woff");
}
@font-face {
    font-family: "Neue Kabel Regular";
    src: 
    url("../webfonts/NeueKabel-Book.woff2") format("woff2"),
    url("../webfonts/NeueKabel-Book.woff") format("woff");
}

html, body {
    font-family: 'Neue Kabel', 'Poppins', sans-serif;
    background-color: #1c1b16;
    color: #ffffff;
    .font-a {
        font-family: 'Neue Kabel Regular', 'Poppins', sans-serif;
    }
    .text-stroke-main {
        -webkit-text-stroke: 1px #ab192d;
        text-stroke: 1px #ab192d;
        color: transparent;
        @media screen and (min-width:768px) {
            -webkit-text-stroke: 2px #ab192d;
            text-stroke: 2px #ab192d;
        }
        @media screen and (min-width:2000px) {
            -webkit-text-stroke: 3px #ab192d;
            text-stroke: 3px #ab192d;
        }
    }
    main {
        height: 100vh;
        .swiper {
            height: 100%;
            .slider {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
            }
            .slider_1 {
                background-image: url('../assets/bg/img-04.jpg');
            }
            .slider_7,
            .slider_2 {
                background-image: url('../assets/bg/img-02.jpg');
            }
            .slider_8,
            .slider_3 {
                background-image: url('../assets/bg/img-07.jpg');
            }
            .slider_9,
            .slider_4 {
                background-image: url('../assets/bg/img-08.jpg');
            }
            .slider_10,
            .slider_5 {
                background-image: url('../assets/bg/img-06.jpg');
            }
            .slider_11,
            .slider_6 {
                background-image: url('../assets/bg/img-09.jpg');
            }
        }
    }
    header {
        position: fixed;
        top: -1vh;
        left: 0;
        width: 100%;
        z-index: 9999999;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 30%;
            background: url('../assets/line-04.png');
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 6vh;
            width: 70%;
            z-index: 8888;
            transform: rotate(-2deg);
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0%;
            background: url('../assets/line-04.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 3vh;
            width: 30%;
            z-index: 8888;
            transform: rotate(-2deg);
        }
    }
    footer {
        position: fixed;
        width: 100%;
        z-index: 9999999;
        bottom: -1vh;
        left: 0;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0%;
            background: url('../assets/line-03.png');
            background-position: right top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 5vh;
            width: 70%;
            z-index: 99999;
            transform: rotate(-2deg);
        }
    }
    .liner {
        position: relative;
        .liner__inner {
            background: url('../assets/line.png');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-height: 7px;
        }
    }
    @media screen and (min-width: 992px) {
        header {
            top: -2vh;
            &:after {
                left: 70%;
                min-height: 7vh;
            }
            &:before {
                width: 70%;
                min-height: 7vh;
            }
        }
        footer {
            bottom: -2vh;
            &:before {
                min-height: 7vh;
                width: 40%;
            }
        }
        .liner {
            .liner__inner {
                min-height: 10px;
            }
        }
    }
    @media screen and (min-width: 1366px) {
        header {
            top: -3vh;
        }
        .liner {
            .liner__inner {
                min-height: 10px;
            }
        }
    }
    @media screen and (min-width: 2000px) {
        .liner {
            .liner__inner {
                min-height: 14px;
            }
        }
    }
}

